@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    color: #1F2937
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 150px;
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    min-width: 200px;
}

.links {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    min-width: 100px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 16px;
}

img {
    border-radius: 10px;
}

.container.upper {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 50px 150px 74px;
    color: white;
    align-items: center;
    flex: 1;
}

.title {
    font-weight: 900;
}

.content .title {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 400px;
    font-size: 48px;
}

.upper .content .text {
    padding-bottom: 20px;
    width: 500px;
}

button.Sign-up {
    cursor: pointer;
    color: white;
    background-color: #3882f6;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px #3882f6;
}

.middle1 {
    padding: 0 20px 60px;
    text-align: center;
    color: #1F2937;
}

.middle1 .content {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.middle1 .title {
    font-size: 36px;
}

.image{
    width: 150px;
    height: 150px;
    background-color: #E5E7EB;
    border: 2px solid #c5c5c5;
    border-radius: 10px;
}

.image-section {
    max-width: 150px;
}

.content .image-section .text {
    padding-top: 20px;
    font-size: 16px;
}

.middle2 {
    background-color: #E5E7EB;
    display: flex;
    padding: 100px;
    align-items: center;
    justify-content: center;
}

.middle2 .content {
    background-color: #fff;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 #9e9e9e;
}

.middle2 blockquote {
    font-size: 36px;
    columns: #1f2937;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    position: relative;
}

.lower {
    display: flex;
    justify-content: center;
    padding: 100px;
    color: white;
}

.lower .box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    padding: 40px;
    background-color: #3882f6;
    border-radius: 10px;
}

.callout {
    font-weight: 900;
    font-size: 16px;
    flex-shrink: 0;
}

.content .text {
    font-size: 14px;
    padding-top: 5px;
    font-style: oblique;
    flex-shrink: 0;
}

.box button {
    font-weight: 800;
    width: 200px;
    padding: 12px;
    border: 2px solid white;
    flex-shrink: 0;
}

.footer {
    padding: 30px;
    text-align: center;
    color: white;
    background-color: #1F2937;
    font-size: 14px;
}